<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
  <head>
    <title>Find Context</title>
    <link rel="stylesheet" href="http://yui.yahooapis.com/combo?2.8.0r4/build/reset-fonts-grids/reset-fonts-grids.css&amp;2.8.0r4/build/base/base-min.css" type="text/css" media="screen"/>
    <script src="http://www.google.com/jsapi"></script>
    <script> google.load('jquery', '1'); </script>
    <style>
      li.done a {
        color: #a7a7a7;
        text-decoration: line-through;
      }
      span.done {
        color: green;
      }
    </style>
  </head>
  <body style="text-align: left;">
    <div>
      For users:
      <ol>
        <li id="step1"><a href="http://www.mozilla.com/firefox/">Install or upgrade to the latest Firefox</a></li>
        <li id="step2"><a class="xpi-link" 
                          href="/media/jetpack-0.8.1-all.xpi"
                          data-hash="sha1:6e3272bdc9de5704f9b8b591f5b997fc4dee0bf4"
                          >Install our customized Jetpack add-on</a></li>
        <li id="step3"><a href="/install/">Install the Find Context jetpack</a></li>
      </ol>
    </div>
    <div>
      For staff: <a href="/admin/main/logrecord/">View the Find Context log</a>
    </div>
    <script>
      <![CDATA[
      function done(id) {
        $(id).addClass('done').append(' <span class="done">Done!</span>');
      }
      if ($.browser.mozilla && $.browser.version === '1.9.2') {
        done('#step1');
      }
      function jetpackInstalled() {
        done('#step2');
      }
      $('body').bind('findcontext', function (event, version) {
        if (version === '0.1') {
          done('#step3');
        }
      });
      $('.xpi-link').click(function (event) {
        event.preventDefault();
        InstallTrigger.install({
          'Jetpack': { 'URL': this.href, 
          'Hash': this.getAttribute('data-hash') }
        });
      });
      ]]>
    </script>
    <img src="chrome://jetpack/content/gfx/jetpack.png"
         onload="jetpackInstalled();"
         style="display: none;"/>
  </body>
</html>