<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
  <head>
    <title>Find Context</title>
    <link rel="stylesheet" href="http://yui.yahooapis.com/combo?2.8.0r4/build/reset-fonts-grids/reset-fonts-grids.css&amp;2.8.0r4/build/base/base-min.css" type="text/css" media="screen"/>
    <script src="http://www.google.com/jsapi"></script>
    <script> google.load('jquery', '1'); </script>
    <style>
      li.done a {
        color: #a7a7a7;
        text-decoration: line-through;
      }
      span.done {
        color: green;
      }
    </style>
  </head>
  <body>
    <div id="doc2" class="yui-t7">
      <div id="hd"></div>
      <div id="bd">
	<div id="yui-main">
          <div class="yui-g">
            <div id="install_guide">
              
              <h1 class="title"><em>Find Context</em> Software Trial</h1>
              <p class="details"></p>
              
              <h2>Installation Instructions</h2>
              

              <p>Thank you for your participation. Instructions for installing the <em>Find Context</em> software are below, please contact <a href="mailto:kersey@ischool.berkeley.edu">kersey@ischool.berkeley.edu</a> if you have any difficulties.</p>
              <p>There are <strong>three</strong> components needed for the <em>Find Context</em> software to work: 1) An up-to-date copy of the Firefox web browser, 2) the <em>Find Context</em> custom Jetpack Add-On, and 3) the <em>Find Context</em> software. We will walk through each process below.</p>

              <h3 class="numbered_section">1. Install Firefox</h3>
              <p><span id="step1">If you don't have the most current version of the Firefox web browser (3.6), <strong><a href="http://www.mozilla.com/en-US/firefox/firefox.html">Download Firefox</a></strong> and install it according to their directions.</span> Return to this page in your new Firefox browser.</p>

              <h3 class="numbered_section">2. Install Jetpack (<em>Find Context</em> version)</h3>
              <p>Please look over the information in this section first so you know what to expect. </p>
              <p>Are you looking at this page in Firefox? Ok, great. If you know that you have installed a previous version of Jetpack, uninstall it now. (This is rare)</p>
              <p><span id="step2">When ready, <a class="xpi-link" 
              href="http://findcontext.org/media/jetpack-0.8.1-all.xpi"
              data-hash="sha1:6e3272bdc9de5704f9b8b591f5b997fc4dee0bf4"
              >Install our customized Jetpack add-on</a></span></p>
              <ul>
                <li>A warning will pop up when you click the link and you want to press the "allow" button, so that the browser can install it<br/><img src="images/1.Allowjetpack.jpg" alt="click the allow button if you get a warning"/></li>
                <li>You will then receive a dialog box warning you about malicious software. This is because it is being served from the Berkeley servers instead of Mozilla's. It is safe to disregard this message and click the install button. <br /><img src="images/2.InstallJetpack.jpg" /></li> 
                <li>You will then be prompted to restart Firefox. Please do so.<br /><img src="images/3.JetpackRestart.jpg" alt="after installing the Jetpack add on you will need to restart Firefox"/></li> 
                <li>When the software starts up again, if the installation was successful you will see Jetpack welcome screen in a new tab, and this page on a separate tab to the left. You may close the "I am JetPack. Welcome." tab.<br /><img src="images/4.JetpackSuccess.jpg" alt="this indicates succesful installation of Jetpack"/></li>
              </ul>

              <h3 class="numbered_section">3. Install the <em>Find Context</em> Software</h3>
              <p>The last step! Please read through so you know what to expect, especially since there will be a big anxiety-inducing alert message you will need to ignore.</p>
              <p><span id="step3">When ready, <a href="http://findcontext.org/install/">Install the Find Context jetpack</a></span></p>
              <ul>
                <li>Please find the username and password you were given in class, you will need it for this step. If you need a new one, contact Noah Kersey at <a href="mailto:kersey@ischool.berkeley.edu">kersey@ischool.berkeley.edu</a></li>
                <li>After you click on the install the <em>Find Context</em> jetpack link, you will be prompted to enter your username and password<br /><img src="images/5.FindContextLogin.jpg" alt="enter your username and password to login"/></li>
                <li>A grey bar will appear along the top of the page if you login successfuly, click the "Install..." button.<br /><img src="images/6.FindContextJetpackInstall.jpg" alt="jetpack install alert"/></li>
                <li>You will see a big scary red message! This is unavoidable because we are not releasing the software publicly, but we have no interest in your sensitive information. We will not collect your Credit Card numbers or email your grandmother. Because the software is experimental, we cannot avoid the red message, but rest assured, our software will not collect information outside the scope of the study.<br /><img src="images/7.FindContextJetpackalert.jpg" alt="scary alert message, safe to ignore"/></li>
                <li>To continue, click the "I know what I'm doing. Install it!"</li>
                <li>You will be returned to this page, if the software has installed successfully, you will have a small blue arrow in the top left corner of the browser window. This is the <em>Find Context</em> software.<br/><img src="images/8.FindContextBlueArrow.jpg"/></li>
                <li>To use the <em>Find Context</em> software, highlight a word in a web page, right click (or control-click on a Mac) and select the 'Query Celtic Studies 138 for "..." to search the reference sources included in this package.' If you have suggestions of other sources which you use and find helpful, please let us know via email.<br /><img src="images/9.FindContextMenu.jpg" alt="activating the Find Context software via the context menu"/></li>
                <li>After searching for a word, the menu on the left will expand and you will see the references sources available, those with results are highlighted in green, those without any matching results are highlighted in red. Clicking a reference source will open a new tab with that search.<br /><img src="images/10.FindContextMenuExpanded.jpg" alt="an example search with the Find Context software"/></li>
              </ul>					
            </div>

            
          </div>
	</div>
        <div id="ft"><p>Thanks for participating in the <em>Find Context</em> software testing. We are very interested to know how it works (or doesn't work) for you. After you have used it once or twice, please complete <a href="#">our survey</a>. We are also interested in hearing about your experience in person, so please consider talking with us in a half-hour interview. Contact Noah Kersey (<a href="mailto:kersey@ischool.berkeley.edu">kersey@ischool.berkeley.edu</a>) to schedule a time.</p></div>
      </div>
    </div>
    <script>
      <![CDATA[
      function done(id) {
        $(id).addClass('done').append(' <span class="done">Done!</span>');
      }
      if ($.browser.mozilla && $.browser.version === '1.9.2') {
        done('#step1');
      }
      function jetpackInstalled() {
        done('#step2');
      }
      $('body').bind('findcontext', function (event, version) {
        if (version === '0.1') {
          done('#step3');
        }
      });
      $('.xpi-link').click(function (event) {
        event.preventDefault();
        InstallTrigger.install({
          'Jetpack': { 'URL': this.href, 
          'Hash': this.getAttribute('data-hash') }
        });
      });
      ]]>
    </script>
    <img src="chrome://jetpack/content/gfx/jetpack.png"
         onload="jetpackInstalled();"
         style="display: none;"/>
  </body>
</html>