<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
  <head>
    <title>Find Context</title>
    <link rel="stylesheet" href="http://yui.yahooapis.com/combo?2.8.0r4/build/reset-fonts-grids/reset-fonts-grids.css&2.8.0r4/build/base/base-min.css" type="text/css" media="screen"/>
  </head>
  <body>
    <ul style="text-align: left;">
      <li><a href="/install/">Install the Find Context Jetpack</a></li>
      <li><a href="/admin/main/logrecord/">View the Find Context log</a></li>
    </ul>
  </body>
</html>